body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 padding-top: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.active-spa {
  color: #ffffff !important;
  background-color: #612080;
}

.logo {
  float: left;
  height: 100px;
  margin-left: 10px;
  position: absolute;
  text-align: center;
  transition: width .5s, height .5s;
  width: 150px;
  z-index: 2;
}

.profile-menu{
    background: #70388b;
    height: 40px;
}

.tx-profilemenu{
  float: right;
  margin: 0 5px;
  height: 35px;
}

.navigation {
  margin-left: 0px;
  height: 60px;
}

.spa-content{
  background: 	#fafafa;
  box-shadow: 0px 0px 5px #632382;
  min-height: 750px;
  padding-top: 70px;
}


#dropdownMenuButton {
  height: 33px;
}

.update-spa-icon{
  font-size: x-large;
  position: absolute;
}

.hide-field{
  display: none !important;
}

#add-user-scroll{
  float: right;
}

.update-spa-icon:hover{
  font-size: xx-large;
  transition: all .5s;
}

.message-mouseover{
  display: inline-block;
}

.tableuser .dataTables_wrapper th:nth-child(1), .tableuser .dataTables_wrapper tbody tr td:nth-child(1),
.tableevent .dataTables_wrapper th:nth-child(1), .tableevent .dataTables_wrapper tbody tr td:nth-child(1)
{
  display: none;
}

.card-spa{
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0;
  padding-top: 10px;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}